.PaymentMethod__list {
    border-bottom: none !important;
}
.PaymentMethod__list li {
    cursor: pointer;
    margin-right: .5rem;
}
.PaymentMethod__list  a { 
    border-radius: .5rem !important;
    border: 1px solid #ddd !important;

}
.PaymentMethod__list  a.active {
    border-bottom-color: transparent !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.PaymentMethod__state {
    position: absolute;
    z-index: 1000;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: #b12d2d transparent transparent transparent;
    top: 0;
    left: 0;
}
.PaymentMethod__state.ACTIVE {
    border-color: #37a51b transparent transparent transparent;
}
.PaymentMethod__history .expandbutton {
    text-decoration: none;
    line-height: 1;
}
.PaymentMethod__history .expandbutton:hover {
    text-decoration: none;
    color: #37a51b;
}
.PaymentMethod__history .expandbutton:after {
    content: ' \2192';
    font-weight: 600;
}
.PaymentMethod__history.active .expandbutton:after {
    content: ' \2191';
    font-weight: 600;
}

.PaymentMethod__history .PaymentMethod__hlist__list {
    display: none;
}
.PaymentMethod__history.active .PaymentMethod__hlist__list {
    display: flex;
}