.cursor-pointer {
    cursor: pointer;
}
.TransactionsList__row {
    cursor: pointer;
}
.TransactionsList__row .TransactionsList__detail  {
    display: none;
}
.TransactionsList__row.active,.TransactionsList__row:hover  {
    background-color: aliceblue !important;
    box-shadow: outset 1px 1px 4px rgba(0,0,0,0.6);
    z-index: 100;
    position: relative;
    font-weight: 600;
}
.TransactionsList__row.active .TransactionsList__detail {
    font-weight: 300 !important;
    display: block;
}
.TransactionsList__row .elab {
    background-color: #f8f40f !important;
}

.viewIcon {
    height: 30px;
    margin-right: .5rem;
    cursor: pointer;
}
.TransactionsList__row.active  .viewIcon {
    opacity: 0.4;
}

.TransactionsList__row.cancelled  {
    text-decoration: line-through;
    color: #aaaaaa;
}